<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="pay-content text-center">
        <h2>Those products are yours !</h2>
        <h3>You just transformed a total failure into a failure</h3>

        <p>
          <em>Thanks to you, some failed entrepreneurs will eat tonight.</em>
        </p>
          <% @basket_products.each do |product| %>
            <% product.availability = false %>
            <% product.save %>
          <% end %>

        <%= link_to "Back to landing page", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
