<h1>Basket</h1>

<ul>
  <% prod = Product.find_by_id(14) %>
  <% bas = @user.basket %>
  <% prod.basket = bas %>
  <% @products.each do |product| %>
    <%= product.title if product.basket == @user.basket %>
  <% end %>
  <li></li>
  <li></li>
</ul>

