product-containerbody {
  background-color: white;
  font-size: 14px;
}

.banner-product {
  color: white;
  text-align: left;
  height: 15vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fc7763;
  margin-top: 20px;
  padding-left: 50px;
}

.banner-product h1 {
  font-size: 30px;
  font-weight: bolder;
  margin: 0px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}


.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 15px 0px 15px;
  margin-right: 100px;
  margin-left: 100px;

}

.product-description {
  flex: 0 0 40%;
  text-align: justify;
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 300px;

}

.product-description h2 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}

.product-description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}


.product-image  {
  flex: 0 0 auto;
  border-radius: 4px;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}

.product-details {
  flex: 0 0 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: center;

}

.product-name {

}
.product-name h2 {
  font-size: 24px;

}

.product-attributes {

}

.product-price {

}

.product-price h3 {
  font-size: 20px;

}

.add_to_basket {


}

.vendor-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 100px;
  margin-left: 100px



}

.vendor-description {

  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: justify;


}

.vendor-description h2 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;

}

.vendor-description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
  padding-left: 30px;
}

.vendor {

  text-align: center;


}

.product-description h2 {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  padding-bottom: 15px;

}

.image-rad4 {
  border-radius: 4px;
}

.sale-wrapper {
  margin: 50px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow : center;

}
.sale-wrapper h2{
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
