<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Charte</title>
 </head>
 <body>

  <h1>Nom de notre startup = Happy Failing</h1>

  <h1>Notre logo</h1>
<%= image_tag "logo.jpg", alt: "Happy Failer logo", width: 50 %>

  <h1>Nos couleurs</h1>

<button class="btn-1 draw-border">Couleur 1</button>
<button class="btn-2 draw-border">Couleur 2</button>
<button class="btn-3 draw-border">Couleur 3</button>
<button class="btn-4 draw-border">Couleur 4</button>
<button class="btn-5 draw-border">Couleur 5</button>

<h1>Notre police</h1>
<p>font-family: "Raleway", "Helvetica", "sans-serif"; dans le banner on utilise avec la font weight BOLD</p>

<h1>les boutons avec border comme dans la navbar utilise les class css suivants : btn draw-border</h1>

<h1>Les effets sur le bouton de la home dans le banner et les effets sur les cards du site sont réalisés avec les classes css : btn-white et card-btn</h1>

</body>
</html>

