.cesta-form {
  border-radius: $border-radius-base;
  border: 1px solid $gray-lighter;
  margin: 50px auto;
  min-height: 600px;
  background-color: white;
}

.cesta-form-header {
  background-color: $ch-red-medium-dark;
  border-radius: $border-radius-base $border-radius-base 0 0;
  padding: 20px 20px;
  h3 {
    margin: 0;
    color: white;
  }
}

.cesta-form-body-headed {
  padding: 10px 20px 50px 20px;
}

.cesta-form-body-no-header {
  padding: 50px 20px;
}

.social-btn {
  display: block;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #3B5998;
  border-radius: $border-radius-base;
  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: darken(#3B5998, 5%);
    color: white;
  }
}

.btn-main-login {
  display: block;
  color: white;
  width: 100%;
  padding: 20px 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

input.cesta-input {
  height: $base-height-computed + (22px * 2);
  margin-bottom: 10px;
}

textarea.cesta-textarea {
  margin-bottom: 10px;
  resize: none;
}

  .select-size{
    width: 50px;
  }
