<div class="banner">
  <div class="banner-content">
    <h1>The #1st marketplace for failed startups</h1>
    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group col-md-4 col-md-offset-4">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for products">
    </div>
  </div>
</div>




<h1>Products#index</h1>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.description, product_path(product) %>, €<%= product.price %></li>
  <% end %>
</ul>


