<div class="banner">
  <div class="banner-content">
    <h1>The #1st marketplace for failed startups</h1>
    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group col-md-4 col-md-offset-4">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for products">
    </div>
  </div>
</div>

<h1>Products#index</h1>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.description, product_path(product) %>, €<%= product.price %></li>
  <% end %>
</ul>

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">


  <div class="row featurette featurette-failers ">
     <h1 class="text-center ">For failers</h1>
    <div class="col-md-7 text-left">
      <h2 class="featurette-heading">Don't be a loser anymore. <span class="text-muted">Our community will help you.</span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt debitis, deleniti voluptatum enim ipsa quia similique assumenda voluptates eum corrupti ipsum magni reiciendis corporis ratione quibusdam fugiat doloribus tenetur earum!</p>
    </div>
    <div class="col-md-5 text-center">
      <%= image_tag "logo.jpg", alt: "Le Wagon", width: 400 %>
    </div>
  </div>

  <div class="row featurette featurette-helpers">
    <h1 class="text-center ">For failers</h1>
    <div class="col-md-5 text-center">
    <%= image_tag "logo.jpg", alt: "Le Wagon", width: 400 %>
    </div>
    <div class="col-md-7 text-center">
      <h2 class="featurette-heading">Help failers when it is needed. <span class="text-muted">Make good deals instead of helping people.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

  </div>

  <hr class="featurette-divider">


  <!-- /END THE FEATURETTES -->

</div>
